:root {
    --primary-color: #1b4965;
    --secondary-color: #62b6cb;
    --accent1-color: #cae9ff;
    --accent2-color: #ffffff;

    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

nav {
    justify-self: end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

section h2 {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 8px;
}

nav,
p,
section,
article {
    margin: 1px;
    padding: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 1.0;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgb(0 0 0 / 60%);
    color: white;
    padding: 16px;
    max-width: 400px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    gap: 16px;
}

.socialmedia img {
    width: 32px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
}

.adventure-gallery {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.history-content img {
    max-width: 180px;
    width: 100%;
    height: auto;
}

.adventure-gallery img {
    max-width: 150px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    text-align: center;
}

.map iframe {
    border: none;
    width: 100%;
    height: 300px;
}

form {
    max-width: 500px;
    margin: auto;
}

.submit-btn {
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.9;
}