nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #222;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;
    padding: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
}