nav {
    background-color: rgb(0, 42, 255);
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
}

h1 {
    color: rgb(0, 0, 0);
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    box-shadow: 0 0 30px #333;

}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
}