* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

nav a:hover {
    background-color: #555;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header,
.grid,
footer {
    max-width: 840;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    color: #222;
    display: inline-block;
    border-bottom: 2px solid black;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
}

/* =========================
   Class Selectors
========================= */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    background-color: #f2f2f2;
    color: #000;
}

.profile-img {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 200px;
    border: 3px solid #6b8fb3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

aside {
    position: relative;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.5rem;
}